name: Build DLL

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build
      run: msbuild StellaSora.vcxproj /p:Configuration=Release /p:Platform=x64

    - name: Upload DLL
      uses: actions/upload-artifact@v4
      with:
        name: StellaSora-Tool
        path: bin/Release-x64/StellaSora-Tool.dll

